* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
    padding-bottom: 25px;
}

ul li {
    list-style: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 73px 0 97px;
}

.starter_style {
    margin-bottom: 39px;
    border-radius: 3px;
    background-color: #2a3644;
}

.jcsb {
    display: flex;
    justify-content: space-between;
}

.menu {
    padding: 0;
    min-width: 211px;
}

.menu:first-child {
    list-style: none;
}

.astyle {
    transition: all .5s ease;
    display: block;
    padding: 18px 31px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.first_menu>ul>li:first-child {
    border-right: 1px solid #3f4852;
}

.first_menu>ul>li:nth-child(2),
.first_menu>ul>li:nth-child(3) {
    border-right: 1px solid #3f4852;
    border-left: 1px solid #3f4852;
}

.first_menu>ul>li:last-child {
    border-left: 1px solid #3f4852;
}

.second_menu {
    display: table;
    width: 100%;
}

.second_menu>ul>li+li,
.third_menu>ul>li+li {
    border-left: 1px solid #3f4852;
}

.second_menu a {
    padding: 18px 40px;
}

.second_menu>ul>li:nth-child(4)>a {
    padding: 18px 57px;
}

.second_menu>ul>li:nth-child(3)>.astyle>.submenu li:nth-child(3):hover>ul {
    display: block;
}

.third_menu>ul:first-child>li:first-child a {
    position: relative;
    padding-left: 59px;
}

.third_menu>ul:first-child>li:first-child a::before {
    content: "";
    position: absolute;
    background: url(../img/sprite.png) no-repeat;
    background-position: -47px -2px;
    width: 16px;
    height: 13px;
    top: 50%;
    left: 31px;
    transform: translateY(-50%);
}

.first_menu>ul>li:hover>.submenu,
.second_menu>ul>li:hover>.submenu,
.third_menu>ul>li:hover>.submenu {
    display: block;
}

.astyle:hover {
    color: #fd8612;
    background-color: #3f4852;
}

.submenu,
.double_menu {
    z-index: 2;
    display: none;
    position: absolute;
    border-radius: 3px;
    width: 211px;
    background-color: #d2d4d5;
}

.submenu li>a:hover,
.double_menu li>a:hover {
    background-color: #2a3644;
    color: #ff8505;
}


.submenu a,
.double_menu a {
    display: block;
    padding: 15px 20px;
    font-size: 15px;
    color: #2a3644;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.grey {
    background-color: #e8e8e8;
}

.third_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.double_menu {
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    width: 421px;
}

.socialicons {
    display: flex;
    column-gap: 27px;
    align-items: center;
    padding: 0 30px;
}

.socialicons a {
    display: block;
    background: url(../img/sprite.png) no-repeat;
    transition: all .5s ease;
}

a.fb {
    width: 9px;
    height: 18px;
    background-position: -2px -2px;
}

a.tw {
    width: 16px;
    height: 14px;
    background-position: -13px -2px;
}

a.inst {
    width: 14px;
    height: 16px;
    background-position: -31px -2px;
}

a.fb:hover {
    background-position: -2px -22px;
}

a.tw:hover {
    background-position: -13px -18px;
}

a.inst:hover {
    background-position: -31px -20px;
}

.socialicons li {
    list-style: none;
}

table {
    width: 100%;
    border-radius: 3px;
    border-collapse: collapse;
}

thead {
    background-color: #2a3644;
}

th {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    padding: 17px 46px;
}

thead th+th {
    border-left: 1px solid #3f4852;
}

thead tr:first-child>th:nth-child(2) {
    min-width: 505px;
    text-align: start;
}

thead tr:first-child>th:first-child,
tbody tr>td {
    padding: 17px 25px;
}

thead tr:nth-child(2) {
    border-top: 1px solid #3f4852;
}

thead tr:nth-child(2)>th:first-child {
    border-left: 1px solid #3f4852;
}

tbody tr {
    font-size: 16px;
    color: #2a3644;
}

.td_first_style {
    padding: 0 0 0 78px;

}

.td_second_style {
    border-right: 1px solid #c0c1c2;
}

.td_third_style {
    border-bottom: 1px solid #c0c1c2;
}

.hoverstats:hover {
    border: none;
    background-color: #c0c1c2;
}

footer h2 {
    padding-top: 50px;
}

.css_table {
    display: table;
    width: 100%;
}

.css_table_thead:first-child>p:first-child,
.css_table_thead:first-child>p:nth-child(2),
.css_table_thead:first-child>p:nth-child(3),
.css_table_thead:first-child>p:nth-child(4),
.css_table_thead:first-child>p:nth-child(5) {
    color: #ffffff;
    font-weight: bold;
    background-color: #2a3644;
}

.css_table_thead:first-child>p:first-child,
.css_table_tbody:first-child>p:first-child {
    padding: 18px 28px;
}

.css_table_thead:first-child>p:nth-child(2) {
    padding: 18px 0 0 28px;
    width: 375px;
}

.css_table_thead:first-child>p:nth-child(3),
.css_table_thead:first-child>p:nth-child(4),
.css_table_thead:first-child>p:nth-child(5) {
    padding: 18px 47px;
}

.css_table_thead,
.css_table_tbody {
    display: table-row;
}

.css_table_tbody p,
.css_table_thead p {
    display: table-cell;
}

.css_table_tbody:hover {
    background-color: #c0c1c2;
}

.css_table_tbody p:first-child {
    padding: 17px 28px;
}

.td_forth_style {
    padding-left: 25px;
}

.td_fifth_style {
    text-align: right;
    padding-right: 27px;
}