* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
    padding-bottom: 25px;
}

ul li {
    list-style: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 73px 0 97px;
}

.starter_style {
    margin-bottom: 39px;
    border-radius: 3px;
    background-color: #2a3644;
}

.jcsb {
    display: flex;
    justify-content: space-between;
}

.menu {
    padding: 0;
    min-width: 211px;
}

.menu:first-child {
    list-style: none;
}

.astyle {
    position: relative;
    transition: all .5s ease;
    display: block;
    padding: 14px 31px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.first_menu>ul>li:hover>a,
.second_menu>ul>li:hover>a,
.third_menu>ul:first-child>li:hover>a {
    color: #fd8612;
    background-color: #3f4852;
}

.first_menu>ul>li:first-child {
    border-right: 1px solid #3f4852;
}

.first_menu>ul>li:first-child:hover>a,
.second_menu>ul>li:first-child:hover>a,
.third_menu>ul:first-child>li:first-child:hover>a {
    border-radius: 3px 0 0 3px;
}

.first_menu>ul>li:nth-child(4)>ul {
    right: 0;
}

.first_menu>ul>li:nth-child(2),
.first_menu>ul>li:nth-child(3) {
    border-right: 1px solid #3f4852;
    border-left: 1px solid #3f4852;
}

.first_menu>ul>li:last-child {
    border-left: 1px solid #3f4852;
    position: relative;
}

.second_menu {
    display: table;
    width: 100%
}

.second_menu>ul>li+li,
.third_menu>ul>li+li {
    border-left: 1px solid #3f4852;
}

.second_menu>ul>li>a {
    padding: 13.5px 40px;
}

.second_menu>ul>li:nth-child(4)>a {
    padding: 13.5px 57px;
}

.nd_menu {
    left: 100%;
    top: 50%;
    padding-left: 5px;
}

ul.nd_menu::before {
    content: "";
    position: absolute;
    top: 0;
    width: 5px;
    left: 0;
    height: 100%;
    background-color: transparent;
}

.rd_menu {
    right: 100%;
    top: 75%;
}

ul.rd_menu::before {
    content: "";
    position: absolute;
    top: 0;
    width: 5px;
    right: -5px;
    height: 100%;
    background-color: transparent;
}

.nd_menu li:last-child:hover>a {
    border-radius: 0 0 3px 3px;
}

.st_menu>li:hover>.nd_menu,
.nd_menu>li:hover>.rd_menu {
    display: block;
}

.third_menu>ul:first-child>li:first-child a {
    position: relative;
    padding-left: 59px;
}

.third_menu>ul:first-child>li:first-child a::before {
    content: "";
    position: absolute;
    background: url(../img/sprite.png) no-repeat;
    background-position: -47px -2px;
    width: 16px;
    height: 13px;
    top: 50%;
    left: 31px;
    transform: translateY(-50%);
}

.first_menu>ul>li:hover>.submenu,
.second_menu>ul>li:hover>.submenu,
.third_menu>ul>li:hover>.submenu {
    display: block;
}

.submenu {
    padding-top: 5px;
    z-index: 2;
    display: none;
    position: absolute;
    width: 211px;
}

.hover:hover {
    border-radius: 3px 3px 0 0;
}

.hoverbottom:hover {
    border-radius: 0 0 3px 3px;
}

.submenu li {
    background-color: #d2d4d5;
}

.submenu li:first-child {
    border-radius: 3px 3px 0 0;
}

.submenu li:last-child {
    border-radius: 0 0 3px 3px;
}

.submenu::before,
.double_menu::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 100%;
    height: 5px;
    background-color: transparent;
}

.submenu li+li {
    border-top: 1px solid #b9bdc1;
}

.submenu li:hover>a,
.double_menu li:hover>a {
    background-color: #2a3644;
    color: #ff8505;
}

.double_menu li+li+li+li+li {
    border-left: 1px solid #b9bdc1;
}

.double_menu li+li+li {
    border-right: 1px solid #b9bdc1;
}

.double_menu li {
    border-bottom: 1px solid #b9bdc1;
}


.submenu a,
.double_menu a {
    display: block;
    padding: 15px 20px;
    font-size: 15px;
    color: #2a3644;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.grey {
    background-color: #e8e8e8;
}

.hex_color {
    background-color: #f2f2f2;
}

.third_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third_menu li {
    position: relative;
}

.double_menu {
    position: absolute;
    border-radius: 3px;
    display: none;
    width: 421px;
    top: calc(100% + 5px);
    background-color: #d2d4d5;
}

.double_menu>li:first-child:hover>a {
    border-radius: 3px 0 0 0;
}

.double_menu>li:nth-child(4) {
    border-bottom: none;
}

.double_menu>li:nth-child(5),
.double_menu>li:nth-child(6) {
    border-right: none;
}

.double_menu>li:nth-child(5):hover>a {
    border-radius: 0 3px 0 0;
}

.double_menu>li:nth-child(4):hover>a {
    border-radius: 0 0 0 3px;
}

.menu>li:hover>.double_menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 200px;
}

.socialicons {
    display: flex;
    column-gap: 27px;
    align-items: center;
    padding: 0 30px;
}

.socialicons a {
    display: block;
    background: url(../img/sprite.png) no-repeat;
    transition: all .5s ease;
}

a.fb {
    width: 9px;
    height: 18px;
    background-position: -2px -2px;
}

a.tw {
    width: 16px;
    height: 14px;
    background-position: -13px -2px;
}

a.inst {
    width: 14px;
    height: 16px;
    background-position: -31px -2px;
}

a.fb:hover {
    background-position: -2px -22px;
}

a.tw:hover {
    background-position: -13px -18px;
}

a.inst:hover {
    background-position: -31px -20px;
}

.socialicons li {
    list-style: none;
}

table {
    width: 100%;
    border-radius: 3px;
    border-collapse: collapse;
}

thead {
    background-color: #2a3644;
}

thead>tr:first-child th:first-child {
    border-radius: 3px 0 0 0;
}

thead>tr:first-child th:last-child {
    border-radius: 0 3px 0 0;
}

th {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    padding: 13.7px 46px;
}

thead th+th {
    border-left: 1px solid #3f4852;
}

thead tr:first-child>th:nth-child(2) {
    min-width: 505px;
    text-align: start;
}

thead tr:first-child>th:first-child,
tbody tr>td {
    padding: 13.5px 25px;
}

thead tr:nth-child(2) {
    border-top: 1px solid #3f4852;
}

thead tr:nth-child(2)>th:first-child {
    border-left: 1px solid #3f4852;
}

tbody tr {
    font-size: 16px;
    color: #2a3644;
}

tbody tr+tr {
    border-top: 1px solid #c0c1c2;
}

tbody tr>td+td {
    border-left: 1px solid #c0c1c2;
}

tbody tr>td:nth-child(3),
tbody tr>td:nth-child(4),
tbody tr>td:nth-child(5) {
    text-align: right;
}

tbody tr:last-child td:first-child,
.css_table_tbody:last-child p:first-child {
    border-radius: 0 0 0 3px;
}

tbody tr:last-child td:last-child,
.css_table_tbody:last-child p:last-child {
    border-radius: 0 0 3px 0;
}

.css_table_tbody:nth-child(3) p,
.css_table_tbody:nth-child(4) p,
.css_table_tbody:nth-child(5) p,
.css_table_tbody:nth-child(6) p {
    border-top: 1px solid #c0c1c2;
}

.hoverstats:hover {
    border: none;
    background-color: #c0c1c2;
}

footer h2 {
    padding-top: 50px;
}

.css_table {
    display: table;
    width: 100%;
}

.css_table_thead p {
    color: #ffffff;
    font-weight: bold;
    background-color: #2a3644;
}

.css_table_thead p{
    padding: 14px 22px;
    text-align: center;
}

.css_table_thead p:nth-child(3),
.css_table_thead p:nth-child(4),
.css_table_thead p:nth-child(5){
    padding: 14px 48px;
    width: 129px;
}

.css_table_thead p:nth-child(2){
    min-width: 505px;
    box-sizing: border-box;
    text-align: left;
}

.css_table_thead,
.css_table_tbody {
    display: table-row;
}

.css_table_tbody p,
.css_table_thead p {
    display: table-cell;
}

.css_table_thead p+p {
    border-left: 1px solid #3f4852;
}

.css_table_tbody p:nth-child(3),
.css_table_tbody p:nth-child(4),
.css_table_tbody p:nth-child(5) {
    text-align: right;
    padding-right: 28px;
}

.css_table_tbody p{
    
}

.css_table_tbody p+p {
    border-left: 1px solid #c0c1c2;
    padding-left: 25px;
}

.css_table_tbody:hover {
    background-color: #c0c1c2;
}

.css_table_tbody p:first-child {
    padding: 14px 22px;
}